# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env
.env.*
!.env.example

# IDE
.idea/

# Archives
*.zip

# Data
entity/
output/

# OS
.DS_Store
Thumbs.db

# python
.venv/

# Logs
*.txt

# test_files
*.pdf
*.csv
*.xlsx

uploads/